<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Foe - Home</title>
</head>

<body>
    <div class="container">
        <h1>
            <a href="#">Foe</a>
        </h1>

        <div class="menu">
            <a href="{{ url_for('attendance') }}" class="attendance">Absensi Kamera</a>
            <a href="{{ url_for('report') }}" class="report">Rekap Absen Siswa</a>
            <a href="{{ url_for('report_teacher') }}" class="report_teacher">Rekap Absen Guru</a>
        </div>

        <a href="{{ url_for('logout') }}" class="logout">Logout</a>

    </div>
</body>

</html>