<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />

    <link rel="stylesheet" href="{{ url_for('static', filename='report.css') }}">
    <title>Foe - Rekapitulasi</title>
</head>
<script>
</script>
<h1>
    <a href="{{url_for('home')}}">Foe</a>
</h1>
<form class="report" action="" method="post">
    <p>Rekap Absen</p>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Kelas</label>
        <select class="form-control" id="exampleFormControlSelect1" name="student_class">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="from_time">Waktu dari</label>
        <input type="date" class="form-control" id="from_time" placeholder="Waktu">
    </div>
    <div class="form-group">
        <label for="to_time">Waktu Sampai</label>
        <input type="date" class="form-control" id="to_time" placeholder="Sampai">
    </div>
    <button>OK</button>
</form>

<body>

</body>

</html>

</html>